header {
    margin-bottom: 80px;
}

.nav__bar {
    background-color: $white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    box-shadow: 0 1px 1px rgba(0,0,0,0.03);
    padding: $m-size 0;
    opacity: 0.7;
}

.nav__bar-logo {
    float: left;
}

.nav__bar-github {
    float: right;
}

.nav__bar-logo img,
.nav__bar-github img {
    height: 35px;
    width: auto;
}
