* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $white;
    font-size: $font-medium-size;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 300;
    color: $grey;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 5px 10px;
}
